
.current-user {
  display: flex;
  margin-top: 10px;
  flex-direction: row-reverse;
  text-align: right;
}

.other-user{
  display: flex;
  text-align: left;
  margin-top: 10px;
  }

.message-content {
  display: inline-block;
}

.my-chat-settings > .username {
  display: block;
  color: var(--bg-color);
  font-size: 14px;
  padding-bottom: 4px;
  font-weight: bold;
  font-family: var(--font-primary);
}

.my-chat-settings > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: var(--accent-color);
  color: white;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: var(--font-primary);
  opacity: 0.8;
} 

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}



.other-chat-settings > .username {
  display: block;
  color: var(--bg-color);
  font-size: 14px;
  padding-bottom: 4px;
  font-weight: bold;
  font-family: var(--font-primary);
}

.other-chat-settings > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: rgb(239, 239, 239);
  color: var(--bg-color);
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: var(--font-primary);
  opacity: 0.8;
}

.messages-list {
  background-color: #7e7e83;
  padding: 15px 15px 0px 15px;
  max-width: 470px;
  flex-grow: 1;
  margin: 0 auto;
  height: 250px;
  word-wrap: break-word;
  overflow: auto;
}
