
.messages-message {
  display: flex;
  margin-top: 10px;

}

.messages-message.current-user {
  flex-direction: row-reverse;
  text-align: right;
}

.message-content {
  display: inline-block;
}

.current-member > .Message-content {
  align-items: flex-end;
}

.message-content > .username {
  display: block;
  color: #d6e757;
  font-size: 14px;
  padding-bottom: 4px;
  font-weight: bold;
}

.message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: rgb(30, 202, 14);
  color: white;
  display: inline-block;
  font-size: 13px;
  text-align: left;
}

.current-member > .message-content .text {
  background-color: #3a2d80;
}

.messages-list {
  background-color: #7e7e83;
  padding: 20px 0;
  max-width: 500px;
  overflow: auto;
  text-align: center;
  margin: 0 auto;
  height: 250px;
  word-wrap: break-word;
}
